<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a16165872.theribs">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <user-permission android:name="android.support.multidex.MultiDexApplication"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContatoActivity"
            android:label="@string/title_activity_contato"
            android:parentActivityName=".RestauranteActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a16165872.theribs.RestauranteActivity" />
        </activity>
        <activity
            android:name=".EventosActivity"
            android:label="@string/title_activity_eventos"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a16165872.theribs.MainActivity" />
        </activity>
        <activity
            android:name=".CardapioActivity"
            android:label="@string/title_activity_cardapio"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RestauranteActivity"
            android:label="@string/title_activity_restaurante"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a16165872.theribs.MainActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".CheckInActivity"
            android:label="@string/title_activity_check_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MeusDadosActivity"
            android:label="@string/title_activity_meus_dados"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GarcomActivity"
            android:label="@string/title_activity_garcom" />
        <activity
            android:name=".AcompanhamentoActivity"
            android:label="@string/title_activity_acompanhamento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetalhesPratoActivity"
            android:label="@string/title_activity_detalhes_prato"
            android:parentActivityName=".CardapioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a16165872.theribs.CardapioActivity" />
        </activity>
        <activity
            android:name=".PesquisaActivity"
            android:label="@string/title_activity_pesquisa"
            android:parentActivityName=".CardapioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a16165872.theribs.CardapioActivity" />
        </activity>
        <activity
            android:name=".DetalhesEventosActivity"
            android:label="@string/title_activity_detalhes_eventos"
            android:parentActivityName=".EventosActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a16165872.theribs.EventosActivity" />
        </activity>
        <activity
            android:name=".AbrirPedidoActivity"
            android:label="@string/title_activity_abrir_pedido"
            android:parentActivityName=".GarcomActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a16165872.theribs.GarcomActivity" />
        </activity>
        <activity android:name=".AbrirPedidoClienteActivity" />
        <activity
            android:name=".ItensPedidoActivity"
            android:label="@string/title_activity_itens_pedido"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PagamentoActivity" />
        <activity
            android:name=".PagamentoAutorizadoActivity"
            android:label="@string/title_activity_pagamento_autorizado"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>